$font-family-base: 'Mooli', Helvetica, Arial, sans-serif;
$primary: $orange;
$custom-colors: (
    "primary": $primary,
    "score-5": #6f42c1,
    "score-4": #0d6efd,
    "score-3": #198754,
    "score-2": #ffc107,
    "score-1": #fd7e14,
    "score-0": #dc3545
);
$theme-colors: map-merge($theme-colors, $custom-colors);
