/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

/* bootstrap functions */
@import "bootstrap/scss/functions";

/* custom variables */
@import "./scss/variables";

/* bootstrap variables */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

/* required bootstrap */
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

/* optional bootstrap */
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

/* custom components */


/* custom css*/
body {
    background: #191919;
    font-family: 'Mooli', sans-serif;
    color: #f2f2f2;
    @include gradient-x(#101010, #141414, 0%, 100%);
}
